body{
    background-color: #5f5757;
   
}

.nav{
    display: flex;
    align-items: center; 
    background-color: #cec2c2;
}

img{
    width: 200px;
    height: 200px;
}

h1{
    text-align: center; 
    margin-left: 100px;
}

.esconder{
    display: none;
}

a{
    display: block;
}
/* .editar{
    display: none;
} */

 